.backdrop{
    position: relative;
    width: 100%;
    height: 710px;
    transition: opacity 1s ease-in-out;
}
.backdrop.transition {
    opacity: 0; /* Change the opacity during the transition */
  }
.backdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 3;
  }
.backdrop img{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.movieDetails{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    
}
.movieDetails h1,h5{
    color: white;
    max-width: 70rem;
    font-weight: 900;
}
.movieDetails h3{
    color: white;
    max-width: 60rem;
    margin-top: 50px;
    font-weight: 200;
}
.trailer {
    padding: 0.8em 1.8em;
    border: 2px solid #535b64;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
   }
   
   .trailer::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .trailer:hover::before {
    width: 105%;
   }
   
   .trailer:hover {
    color: #111;
   }
   .close-youtube{

    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 38px;
    margin-top: 5px;
    background-color: black;
    color: white;
   }
   .details{
    text-decoration: none;
    color: white;
   }
   .details::after{
    content: '';
    width: 70px;
    background: white;
    height: 3px;
    display: block;
    transition: width 0.3s ease;
   }
   .details:hover:after{
    width: 70px;
   }
   .imdb-logo {
    font: 0.9em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;
    color: #000;
    text-shadow: 0 0 0.15em #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    padding: 0.25em 0.35em;
    border-radius: 0.15em;
    background: radial-gradient(#ffffb8, #ce981d);
  }
  .imdb-logo:hover {
    background: radial-gradient(#ffffeb, #e3b03b);
  }
  .bottom-parameters a{
    text-decoration: none;
    color: white;
  }
  .main-showItems{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .LazyLoad{
    height: inherit;
  }
  .btn{
    display: flex;
    gap: 3rem;
  }
  .similar-and-details{
    position:relative;
    display:flex;
    justify-content: center;
    gap:2rem;
    font-size:1.5rem;
    color:white;
    bottom:50px;
    z-index:3;
    cursor:pointer
  }
  .similar{    
    background: black;
  }
  select{
    width: 200px;
    height: 30px;
    font-size: 20px;
  }
  @media screen and (max-width:768px) {
    .col-md-2{
      padding: 5px;
    }
    .main-showItems{
      display: grid;
    grid-template-columns: repeat(5,1fr);
    }
    .card{
      height: 15rem;
    }
    .main-movieItems{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
    .LazyLoad{
      height: inherit;
      width: inherit;
    }
    .movieDetails{
      position: absolute;
      top: 14%;
      left: 10%;
      z-index: 3;
    }
    .movieDetails h3{
      max-width: 20rem;
      max-height: 30rem;
      overflow: auto;
    }
    .trailer{
      font-size: 9px;
    }

    select{
      width: 100px;
      height: 30px;
      font-size: 10px;
      margin-top: 1rem;
    }

  }
  